fl_env/*
*.pkl
*checkpoint*
cifar-10*
experiments/*
.git
!/.gitignore
*__pycache__*
*.pyc
envs/
*unit_test*
*minimal_reproducible*
*log*
*torchio/
!/src/preprocessing/optimam_train_hologic_landmarks.pth
